.doctors {
  display: flex;
}

.doctor {
  width: 100px;
  height: 100vh;
  /*border: 1px solid black;*/
}

.App {
  display: flex;
  flex-direction: column;
}

.time {
  width: 100px;
  height: 50px;
  background-color: #fafafa;
  color: #747474;
}


.grid {
  display: flex;
  position: relative;
}

.event {
  width: 100px;
  background-color: coral;
  color: white;
  position: absolute;
  min-height: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.row {
  width: 100px;
  height: 100px;
  border-right: 1px solid #747474;
  border-top: 1px solid #747474;
}

.column {
  width: 100px;
  height: 100px;

  /*background-color: #fafafa;*/
  border-right: 1px solid #747474;

  border-bottom: 1px solid #747474;
}

.block {
  display: flex;
}

.date {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
  border-right: 1px solid #747474;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .2);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-content {
  padding: 1rem;
  width: 500px;
  height: 250px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  height: 200px;
  /*flex: 1 0 auto;*/
}

.footer {
  /*flex-shrink: 0;*/
  display: flex;
  justify-content: center;
}

.column , .row   {
  /*padding: .15rem;*/
}


